In [0]:
def sub_unmount(str_path):
    if any(mount.mountPoint == str_path for mount in dbutils.fs.mounts()):
        dbutils.fs.unmount(str_path)

sub_unmount("/mnt/raw")

/mnt/raw has been unmounted.

In [0]:
input_path='/mnt/raw/salary.csv'

In [0]:
df=spark.read.format("csv").load(input_path)
df.toPandas()

           _c0               _c1  ...               _c9          _c10
0    work_year  experience_level  ...  company_location  company_size
1        2021e                EN  ...                DE             L
2         2020                SE  ...                US             L
3        2021e                EX  ...                RU             M
4        2021e                EX  ...                RU             L
..         ...               ...  ...               ...           ...
241       2020                SE  ...                US             L
242      2021e                MI  ...                US             L
243       2020                EN  ...                US             S
244       2020                EN  ...                US             L
245      2021e                SE  ...                IN             L

[246 rows x 11 columns]

In [0]:
#!st Column as Header
x= sc.textFile(input_path).zipWithIndex().filter(lambda a:a[1]>=0).map(lambda a:a[0].split(","))
x.collect()

[['work_year',
  'experience_level',
  'employment_type',
  'job_title',
  'salary',
  'salary_currency',
  'salary_in_usd',
  'employee_residence',
  'remote_ratio',
  'company_location',
  'company_size'],
 ['2021e',
  'EN',
  'FT',
  'Data Science Consultant',
  '54000',
  'EUR',
  '64369',
  'DE',
  '50',
  'DE',
  'L'],
 ['2020',
  'SE',
  'FT',
  'Data Scientist',
  '60000',
  'EUR',
  '68428',
  'GR',
  '100',
  'US',
  'L'],
 ['2021e',
  'EX',
  'FT',
  'Head of Data Science',
  '85000',
  'USD',
  '85000',
  'RU',
  '0',
  'RU',
  'M'],
 ['2021e',
  'EX',
  'FT',
  'Head of Data',
  '230000',
  'USD',
  '230000',
  'RU',
  '50',
  'RU',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '125000',
  'USD',
  '125000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'SE',
  'FT',
  'Data Analytics Manager',
  '120000',
  'USD',
  '120000',
  'US',
  '100',
  'US',
  'M'],
 ['2020',
  'MI',
  'FT',
  'Research Scientist',
  '450000',
  'USD',
  '450000',
  'US',
  '0',
  'US',
  'M'],
 ['2020',
  'MI',
  'FT',
  'Data Analyst',
  '41000',
  'EUR',
  '46759',
  'FR',
  '50',
  'FR',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Data Engineer',
  '65000',
  'EUR',
  '74130',
  'AT',
  '50',
  'AT',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Science Engineer',
  '159500',
  'CAD',
  '127543',
  'CA',
  '50',
  'CA',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Manager Data Science',
  '144000',
  'USD',
  '144000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Scientist',
  '13400',
  'USD',
  '13400',
  'UA',
  '100',
  'UA',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '95000',
  'CAD',
  '75966',
  'CA',
  '100',
  'CA',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '150000',
  'USD',
  '150000',
  'US',
  '100',
  'US',
  'M'],
 ['2020',
  'MI',
  'FT',
  'Data Science Consultant',
  '103000',
  'USD',
  '103000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Engineering Manager',
  '153000',
  'USD',
  '153000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '90000',
  'USD',
  '90000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Analyst',
  '90000',
  'USD',
  '90000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'EN',
  'FT',
  'Data Analyst',
  '60000',
  'USD',
  '60000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '50000',
  'USD',
  '50000',
  'NG',
  '100',
  'NG',
  'L'],
 ['2021e',
  'EN',
  'PT',
  'AI Scientist',
  '12000',
  'USD',
  '12000',
  'PK',
  '100',
  'US',
  'M'],
 ['2021e',
  'MI',
  'PT',
  '3D Computer Vision Researcher',
  '400000',
  'INR',
  '5423',
  'IN',
  '50',
  'IN',
  'M'],
 ['2021e',
  'MI',
  'CT',
  'ML Engineer',
  '270000',
  'USD',
  '270000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Applied Data Scientist',
  '68000',
  'CAD',
  '54376',
  'GB',
  '50',
  'CA',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Machine Learning Engineer',
  '40000',
  'EUR',
  '47681',
  'ES',
  '100',
  'ES',
  'S'],
 ['2021e',
  'EX',
  'FT',
  'Director of Data Science',
  '130000',
  'EUR',
  '154963',
  'IT',
  '100',
  'PL',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '110000',
  'PLN',
  '28801',
  'PL',
  '100',
  'PL',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Analytics Engineer',
  '110000',
  'USD',
  '110000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Research Scientist',
  '60000',
  'GBP',
  '83000',
  'GB',
  '50',
  'GB',
  'L'],
 ['2020',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '250000',
  'USD',
  '250000',
  'US',
  '50',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Analyst',
  '50000',
  'EUR',
  '59601',
  'FR',
  '50',
  'FR',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Data Analyst',
  '80000',
  'USD',
  '80000',
  'BG',
  '100',
  'US',
  'S'],
 ['2020',
  'EN',
  'FT',
  'Data Analyst',
  '10000',
  'USD',
  '10000',
  'NG',
  '100',
  'NG',
  'S'],
 ['2020',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '138000',
  'USD',
  '138000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '140000',
  'USD',
  '140000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Analytics Engineer',
  '67000',
  'EUR',
  '79866',
  'DE',
  '100',
  'DE',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Lead Data Analyst',
  '170000',
  'USD',
  '170000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Analyst',
  '80000',
  'USD',
  '80000',
  'US',
  '100',
  'US',
  'M'],
 ['2020',
  'MI',
  'FT',
  'Data Scientist',
  '45760',
  'USD',
  '45760',
  'PH',
  '100',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'BI Data Analyst',
  '100000',
  'USD',
  '100000',
  'US',
  '100',
  'US',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Data Scientist',
  '45000',
  'EUR',
  '53641',
  'FR',
  '50',
  'FR',
  'L'],
 ['2021e',
  'EX',
  'FT',
  'Head of Data',
  '235000',
  'USD',
  '235000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EX',
  'FT',
  'BI Data Analyst',
  '150000',
  'USD',
  '150000',
  'IN',
  '100',
  'US',
  'L'],
 ['2020',
  'EX',
  'FT',
  'Data Engineering Manager',
  '70000',
  'EUR',
  '79833',
  'ES',
  '50',
  'ES',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Machine Learning Scientist',
  '225000',
  'USD',
  '225000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Science Consultant',
  '65000',
  'EUR',
  '77481',
  'DE',
  '100',
  'DE',
  'S'],
 ['2020',
  'MI',
  'FT',
  'Machine Learning Infrastructure Engineer',
  '44000',
  'EUR',
  '50180',
  'PT',
  '0',
  'PT',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Marketing Data Analyst',
  '75000',
  'EUR',
  '89402',
  'GR',
  '100',
  'DK',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Lead Data Engineer',
  '75000',
  'GBP',
  '103750',
  'GB',
  '100',
  'GB',
  'S'],
 ['2021e',
  'SE',
  'FT',
  'Director of Data Engineering',
  '82500',
  'GBP',
  '114125',
  'GB',
  '100',
  'GB',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Machine Learning Engineer',
  '80000',
  'EUR',
  '95362',
  'DE',
  '50',
  'DE',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Engineer',
  '2250000',
  'INR',
  '30509',
  'IN',
  '100',
  'IN',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Engineer',
  '150000',
  'USD',
  '150000',
  'US',
  '100',
  'US',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Data Engineer',
  '115000',
  'USD',
  '115000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Research Scientist',
  '235000',
  'CAD',
  '187917',
  'CA',
  '100',
  'CA',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Analyst',
  '37456',
  'GBP',
  '51814',
  'GB',
  '50',
  'GB',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Data Engineer',
  '106000',
  'USD',
  '106000',
  'US',
  '100',
  'US',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Data Engineer',
  '88000',
  'GBP',
  '112872',
  'GB',
  '50',
  'GB',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'BI Data Analyst',
  '11000000',
  'HUF',
  '36732',
  'HU',
  '50',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Engineer',
  '150000',
  'USD',
  '150000',
  'US',
  '100',
  'US',
  'L'],
 ['2020',
  'EN',
  'PT',
  'ML Engineer',
  '14000',
  'EUR',
  '15966',
  'DE',
  '100',
  'DE',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Computer Vision Software Engineer',
  '81000',
  'EUR',
  '96554',
  'DE',
  '100',
  'US',
  'S'],
 ['2021e',
  'EN',
  'FT',
  'Computer Vision Software Engineer',
  '70000',
  'USD',
  '70000',
  'US',
  '100',
  'US',
  'M'],
 ['2021e',
  'MI',
  'FT',
  'Financial Data Analyst',
  '450000',
  'USD',
  '450000',
  'US',
  '100',
  'US',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Data Scientist',
  '60000',
  'GBP',
  '76958',
  'GB',
  '100',
  'GB',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Cloud Data Engineer',
  '120000',
  'SGD',
  '89514',
  'SG',
  '50',
  'SG',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Scientist',
  '2200000',
  'INR',
  '29831',
  'IN',
  '50',
  'IN',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Lead Data Engineer',
  '276000',
  'USD',
  '276000',
  'US',
  '0',
  'US',
  'L'],
 ['2020',
  'SE',
  'FT',
  'Data Engineer',
  '188000',
  'USD',
  '188000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Cloud Data Engineer',
  '160000',
  'USD',
  '160000',
  'BR',
  '100',
  'US',
  'S'],
 ['2020',
  'MI',
  'FT',
  'Data Scientist',
  '105000',
  'USD',
  '105000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '200000',
  'USD',
  '200000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Engineering Manager',
  '174000',
  'USD',
  '174000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Analyst',
  '93000',
  'USD',
  '93000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Scientist',
  '2100000',
  'INR',
  '28475',
  'IN',
  '100',
  'IN',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Research Scientist',
  '51400',
  'EUR',
  '61270',
  'PT',
  '50',
  'PT',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Scientist',
  '90000',
  'USD',
  '90000',
  'US',
  '100',
  'US',
  'S'],
 ['2020',
  'MI',
  'FT',
  'Data Engineer',
  '61500',
  'EUR',
  '70139',
  'FR',
  '50',
  'FR',
  'L'],
 ['2020',
  'EN',
  'FT',
  'Data Analyst',
  '450000',
  'INR',
  '6072',
  'IN',
  '0',
  'IN',
  'S'],
 ['2020',
  'SE',
  'FT',
  'Data Engineer',
  '720000',
  'MXN',
  '33511',
  'MX',
  '0',
  'MX',
  'S'],
 ['2021e',
  'SE',
  'FT',
  'Principal Data Analyst',
  '170000',
  'USD',
  '170000',
  'US',
  '100',
  'US',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Data Engineer',
  '70000',
  'GBP',
  '96833',
  'GB',
  '50',
  'GB',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '108000',
  'TRY',
  '13105',
  'TR',
  '0',
  'TR',
  'M'],
 ['2021e',
  'EN',
  'FT',
  'Data Scientist',
  '31000',
  'EUR',
  '36952',
  'FR',
  '50',
  'FR',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '52500',
  'GBP',
  '72625',
  'GB',
  '50',
  'GB',
  'L'],
 ['2020',
  'EN',
  'FT',
  'Data Analyst',
  '91000',
  'USD',
  '91000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Big Data Architect',
  '125000',
  'CAD',
  '99956',
  'CA',
  '50',
  'CA',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Data Scientist',
  '165000',
  'USD',
  '165000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Analyst',
  '80000',
  'USD',
  '80000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Scientist',
  '130000',
  'CAD',
  '103954',
  'CA',
  '100',
  'CA',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Engineer',
  '1600000',
  'INR',
  '21695',
  'IN',
  '50',
  'IN',
  'M'],
 ['2020',
  'EN',
  'FT',
  'Research Scientist',
  '42000',
  'USD',
  '42000',
  'NL',
  '50',
  'NL',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Lead Data Scientist',
  '115000',
  'USD',
  '115000',
  'AE',
  '0',
  'AE',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Research Scientist',
  '80000',
  'CAD',
  '63971',
  'CA',
  '100',
  'CA',
  'M'],
 ['2020',
  'SE',
  'FT',
  'Machine Learning Scientist',
  '260000',
  'USD',
  '260000',
  'JP',
  '0',
  'JP',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Head of Data Science',
  '110000',
  'USD',
  '110000',
  'US',
  '0',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Data Architect',
  '180000',
  'USD',
  '180000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Analyst',
  '200000',
  'USD',
  '200000',
  'US',
  '100',
  'US',
  'L'],
 ['2020',
  'SE',
  'FT',
  'Big Data Engineer',
  '85000',
  'GBP',
  '109024',
  'GB',
  '50',
  'GB',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Director of Data Engineering',
  '200000',
  'USD',
  '200000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'ML Engineer',
  '256000',
  'USD',
  '256000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '110000',
  'USD',
  '110000',
  'US',
  '100',
  'US',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Data Scientist',
  '70000',
  'EUR',
  '79833',
  'DE',
  '0',
  'DE',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Engineer',
  '72500',
  'USD',
  '72500',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Machine Learning Engineer',
  '185000',
  'USD',
  '185000',
  'US',
  '50',
  'US',
  'L'],
 ['2021e',
  'MI',
  'PT',
  'Data Engineer',
  '59000',
  'EUR',
  '70329',
  'NL',
  '100',
  'NL',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Research Scientist',
  '100000',
  'USD',
  '100000',
  'JE',
  '0',
  'CN',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '112000',
  'USD',
  '112000',
  'US',
  '100',
  'US',
  'L'],
 ['2020',
  'SE',
  'FT',
  'Machine Learning Engineer',
  '150000',
  'USD',
  '150000',
  'US',
  '50',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Scientist',
  '180000',
  'TRY',
  '21843',
  'TR',
  '50',
  'TR',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'AI Scientist',
  '55000',
  'USD',
  '55000',
  'ES',
  '100',
  'ES',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Scientist',
  '58000',
  'USD',
  '58000',
  'US',
  '50',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Scientist',
  '100000',
  'USD',
  '100000',
  'US',
  '100',
  'US',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Data Scientist',
  '65720',
  'EUR',
  '78340',
  'FR',
  '50',
  'FR',
  'M'],
 ['2021e',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '85000',
  'USD',
  '85000',
  'NL',
  '100',
  'DE',
  'S'],
 ['2021e',
  'EN',
  'FT',
  'Data Science Consultant',
  '65000',
  'EUR',
  '77481',
  'DE',
  '0',
  'DE',
  'L'],
 ['2021e',
  'SE',
  'CT',
  'Staff Data Scientist',
  '105000',
  'USD',
  '105000',
  'US',
  '100',
  'US',
  'M'],
 ['2020',
  'EN',
  'FT',
  'Data Analyst',
  '72000',
  'USD',
  '72000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Data Engineer',
  '55000',
  'EUR',
  '65561',
  'DE',
  '50',
  'DE',
  'M'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '250000',
  'TRY',
  '30337',
  'TR',
  '100',
  'TR',
  'M'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '111775',
  'USD',
  '111775',
  'US',
  '0',
  'US',
  'M'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '93150',
  'USD',
  '93150',
  'US',
  '0',
  'US',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Lead Data Engineer',
  '160000',
  'USD',
  '160000',
  'PR',
  '50',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '21600',
  'EUR',
  '25747',
  'RS',
  '100',
  'DE',
  'S'],
 ['2021e',
  'SE',
  'FT',
  'Machine Learning Engineer',
  '4900000',
  'INR',
  '66442',
  'IN',
  '0',
  'IN',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '1250000',
  'INR',
  '16949',
  'IN',
  '100',
  'IN',
  'S'],
 ['2021e',
  'SE',
  'FT',
  'Data Analyst',
  '54000',
  'EUR',
  '64369',
  'DE',
  '50',
  'DE',
  'L'],
 ['2020',
  'SE',
  'FT',
  'Lead Data Scientist',
  '190000',
  'USD',
  '190000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'EX',
  'FT',
  'Director of Data Science',
  '120000',
  'EUR',
  '143043',
  'DE',
  '0',
  'DE',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Big Data Engineer',
  '1200000',
  'INR',
  '16271',
  'IN',
  '100',
  'IN',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Analyst',
  '90000',
  'CAD',
  '71968',
  'CA',
  '100',
  'CA',
  'M'],
 ['2020',
  'MI',
  'FT',
  'Data Scientist',
  '11000000',
  'HUF',
  '35735',
  'HU',
  '50',
  'HU',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Scientist',
  '135000',
  'USD',
  '135000',
  'US',
  '0',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '21000',
  'EUR',
  '25032',
  'DE',
  '50',
  'DE',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Data Science Manager',
  '4000000',
  'INR',
  '54238',
  'IN',
  '50',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Machine Learning Engineer',
  '1799997',
  'INR',
  '24407',
  'IN',
  '100',
  'IN',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'BI Data Analyst',
  '9272',
  'USD',
  '9272',
  'KE',
  '100',
  'KE',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '147000',
  'USD',
  '147000',
  'US',
  '50',
  'US',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Research Scientist',
  '120500',
  'CAD',
  '96357',
  'CA',
  '50',
  'CA',
  'L'],
 ['2021e',
  'SE',
  'FT',
  'Data Science Manager',
  '174000',
  'USD',
  '174000',
  'US',
  '100',
  'US',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Business Data Analyst',
  '135000',
  'USD',
  '135000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '21844',
  'USD',
  '21844',
  'CO',
  '50',
  'CO',
  'M'],
 ['2020',
  'SE',
  'FT',
  'Lead Data Engineer',
  '125000',
  'USD',
  '125000',
  'NZ',
  '50',
  'NZ',
  'S'],
 ['2020',
  'EN',
  'FT',
  'Data Scientist',
  '45000',
  'EUR',
  '51321',
  'FR',
  '0',
  'FR',
  'S'],
 ['2020',
  'MI',
  'FT',
  'Data Scientist',
  '3000000',
  'INR',
  '40481',
  'IN',
  '0',
  'IN',
  'L'],
 ['2021e',
  'EX',
  'FT',
  'Data Science Consultant',
  '59000',
  'EUR',
  '70329',
  'FR',
  '100',
  'ES',
  'S'],
 ['2021e',
  'SE',
  'FT',
  'Data Analytics Engineer',
  '50000',
  'USD',
  '50000',
  'VN',
  '100',
  'GB',
  'M'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '4000',
  'USD',
  '4000',
  'IR',
  '100',
  'IR',
  'M'],
 ['2020',
  'EN',
  'FT',
  'Data Scientist',
  '35000',
  'EUR',
  '39916',
  'FR',
  '0',
  'FR',
  'M'],
 ['2020',
  'MI',
  'FT',
  'Lead Data Analyst',
  '87000',
  'USD',
  '87000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Engineer',
  '22000',
  'EUR',
  '26224',
  'RO',
  '0',
  'US',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '76760',
  'EUR',
  '91500',
  'DE',
  '50',
  'DE',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Big Data Engineer',
  '1672000',
  'INR',
  '22671',
  'IN',
  '0',
  'IN',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '420000',
  'INR',
  '5695',
  'IN',
  '100',
  'US',
  'S'],
 ['2021e',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '81000',
  'USD',
  '81000',
  'US',
  '50',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '30400000',
  'CLP',
  '40798',
  'CL',
  '100',
  'CL',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '58000',
  'MXN',
  '2876',
  'MX',
  '0',
  'MX',
  'S'],
 ['2021e',
  'EN',
  'FT',
  'Data Science Consultant',
  '90000',
  'USD',
  '90000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '52000',
  'EUR',
  '61985',
  'DE',
  '50',
  'AT',
  'M'],
 ['2021e',
  'SE',
  'FT',
  'Machine Learning Infrastructure Engineer',
  '195000',
  'USD',
  '195000',
  'US',
  '100',
  'US',
  'M'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '32000',
  'EUR',
  '38144',
  'ES',
  '100',
  'ES',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Data Analyst',
  '85000',
  'USD',
  '85000',
  'US',
  '100',
  'US',
  'L'],
 ['2021e',
  'EX',
  'CT',
  'Principal Data Scientist',
  '416000',
  'USD',
  '416000',
  'US',
  '100',
  'US',
  'S'],
 ['2021e',
  'SE',
  'FT',
  'Machine Learning Scientist',
  '225000',
  'USD',
  '225000',
  'US',
  '100',
  'CA',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '40900',
  'GBP',
  '56578',
  'GB',
  '50',
  'GB',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '2500000',
  'INR',
  '33899',
  'IN',
  '0',
  'IN',
  'M'],
 ['2021e',
  'MI',
  'FT',
  'Data Scientist',
  '85000',
  'GBP',
  '117583',
  'GB',
  '50',
  'GB',
  'L'],
 ['2021e',
  'MI',
  'FT',
  'Machine Learning Engineer',
  '180000',
  'PLN',
  '47129',
  'PL',
  '100',
  'PL',
  'L'],
 ['2020',
  'MI',
  'FT',
  'Data Analyst',
  '8000',
  'USD',
  '8000',
  'PK',
  '50',
  'PK',
  'L'],
 ['2020',
  'EN',
  'FT',
  'Data Engineer',
  '4450000',
  'JPY',
  '41689',
  'JP',
  '100',
  'JP',
  'S'],
 ['2020',
  'SE',
  'FT',
  'Big Data Engineer',
  '100000',
  'EUR',
  '114047',
  'PL',
  '100',
  'GB',
  'S'],
 ['2021e',
  'MI',
  'FT',
  'Machine Learning Engineer',
  '75000',
  'EUR',
  '89402',
  'BE',
  '100',
  'BE',
  'M'],
 ['2020',
  'EN',
  'FT',
  'Data Science Consultant',
  '423000',
  'INR',
  '5707',
  'IN',

In [0]:
column_rdd=x.first()

In [0]:
column_rdd

['work_year',
 'experience_level',
 'employment_type',
 'job_title',
 'salary',
 'salary_currency',
 'salary_in_usd',
 'employee_residence',
 'remote_ratio',
 'company_location',
 'company_size']

In [0]:
#Remove Column Row
x=x.filter(lambda a: a!= column_rdd)

# Combine the data and Column
data=x.toDF(column_rdd)

In [0]:
data.toPandas()

    work_year experience_level  ... company_location company_size
0       2021e               EN  ...               DE            L
1        2020               SE  ...               US            L
2       2021e               EX  ...               RU            M
3       2021e               EX  ...               RU            L
4       2021e               EN  ...               US            S
..        ...              ...  ...              ...          ...
240      2020               SE  ...               US            L
241     2021e               MI  ...               US            L
242      2020               EN  ...               US            S
243      2020               EN  ...               US            L
244     2021e               SE  ...               IN            L

[245 rows x 11 columns]

In [0]:
data.write.mode("Overwrite").option("header","true").csv("/mnt/transform")